/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  color: whitesmoke;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

body {
  background-image: url('./Images/abstract-digital-grid-black-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}